@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;display=swap);

@-ms-viewport {
    width: device-width
}

* {
    box-sizing: inherit
}

body {
    box-sizing: border-box;
    position: relative;
    font-size: 16px;
    margin: 0;
    min-height: 100vh
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0
}

ol,
ul {
    list-style: none
}

img {
    max-width: 100%;
    height: auto
}

.login-bg {
    background-color: #f3f3f3
}

.article_details a:hover,
.header_link-text:hover {
    color: #069
}

header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 15px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2)
}

.header_wrap {
    position: relative;
    z-index: 3
}

.header_logo {
    display: inline-block;
    vertical-align: middle;
    max-height: 35px
}

.header_logo-wrap {
    margin-right: 5px;
    padding-right: 8px;
    max-width: 150px
}

.header_logo.mod-mobile-logo {
    display: none
}

.header-support-center-name {
    position: relative;
    padding-left: 15px;
    padding-top: 1.5px;
    font-size: 16px;
    color: #000;
    font-weight: 600
}

.header-support-center-name:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 1px;
    height: 18px;
    background-color: #000
}

.header_mobile-logo {
    display: none
}

.u-vertically-centered-container {
    display: flex;
    align-items: center
}

.header_mobile-link {
    display: none
}

.header_link-text {
    display: block;
    max-width: 130px;
    margin-right: 25px;
    overflow: hidden;
    font-size: 13px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000
}

.header_mobile-link .header_link-text {
    max-width: 100%
}


.header_logo-wrap.mod-mobile {
    display: none
}

.article_details a:hover,
.header_link-text:hover {
    color: #069
}

.menu-container {
    display: none;
    width: 22px;
    height: 22px;
    cursor: pointer
}

.menu-toggle {
    transition: all .3s;
    box-sizing: border-box;
    cursor: pointer;
    height: 22px;
    width: 22px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.menu-label-text {
    display: none
}

.spinner {
    transition: all .3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 22px;
    background-color: #000
}

.horizontal {
    transition: all .3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px
}

.diagonal.part-1 {
    position: relative;
    transition: all .3s;
    box-sizing: border-box;
    float: left
}

.diagonal.part-2 {
    transition: all .3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px
}

.banner2 {
    position: relative;
    min-height: 180px;
    padding: 57px 0;
    background-color: #518cf1;
    background-size: cover;
    background-repeat: no-repeat
}

.banner_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: calc(50 * 0.01)
}

.banner_content {
    position: relative;
    z-index: 2
}

.banner_heading_492 {
    color: #fff;
    font-size: 42px;
    text-align: center
}

.banner {
    position: relative;
    max-height: 170px;
    padding: 40px 0;
    background-color: #2d5fb3;
    background-size: cover;
    background-repeat: no-repeat
}

.banner a {
    word-break: break-all
}

.banner_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: calc(50 * 0.01)
}

.banner_content {
    position: relative;
    z-index: 2
}

.banner_heading {
    margin: 30px 0;
    color: #fff;
    font-size: 42px;
    font-weight: 900;
    text-align: center
}

.banner_heading2 {
    color: #fff;
    font-size: 42px;
    text-align: center
}

.login-container {
    background-color: #f3f3f3
}

.login-container_wrap {
    padding: 40px 0;
    display: flex
}

.login-container_wrap.mod-center {
    justify-content: center
}

.login-container_pane {
    width: 50%;
    padding: 20px 8%
}

.login-container_pane.right {
    border-right: 1px solid rgba(151, 151, 151, 0.2)
}

.login-container_content {
    color: #666
}

.login-container_heading {
    color: #333;
    font-size: 30px;
    margin-bottom: 15px
}

.login-container_help-text {
    color: #999;
    font-size: 14px;
    margin-bottom: 15px
}

.login-container_form-wrap {
    width: 100%;
    max-width: 400px
}

.custom-container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

.left-pane .custom-container {
    padding: 0
}

.login-container_wrap {
    padding: 40px 0;
    display: flex
}

.login-container_wrap.mod-center {
    justify-content: center
}

.login-container_pane {
    width: 50%;
    padding: 20px 8%
}

.login-container_pane.right {
    border-right: 1px solid rgba(151, 151, 151, 0.2)
}

.login-container_heading {
    color: #333;
    font-size: 30px
}

.login-container_heading {
    margin-bottom: 15px
}

.login-container_help-text {
    color: #999;
    font-size: 14px;
    margin-bottom: 15px
}

.login-container_form-wrap {
    width: 100%;
    max-width: 400px
}

.form_wrap {
    margin-bottom: 15px;
    padding: 0 0 20px;
    border-bottom: 1px dotted rgba(151, 151, 151, 0.3);
    position: relative
}

.form_text {
    padding: 10px;
    font-size: 12px;
    color: #999;
    text-align: center;
    position: absolute;
    bottom: -18px;
    left: 50%;
    background: #f3f3f3;
    transform: translateX(-50%)
}

.form_btn {
    display: block;
    height: 50px;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    border: solid 1px #dedede;
    background-color: #fff;
    cursor: pointer
}

.form_btn img {
    max-height: 100%
}

.form-field {
    margin-bottom: 5px
}

.form-field_label,
.checkbox_text {
    font-size: 14px
}

.form-field_value {
    margin: 5px 0;
    padding: 10px 12px;
    width: 100%;
    outline: 0;
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    background-color: #fff;
    font-size: 14px
}

.form-field_value:focus {
    border: 1px solid #08c
}

.form-field_btn {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 18px;
    border: 0
}

.login_footer {
    display: flex;
    justify-content: space-between;
    align-items: center
}

button,
input[type="submit"],
.form-field_btn,
.form-field_btn:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif
}

.editor-reset h1,
.cke_reset h1 {
    font-size: 26px;
    margin: 8px 0
}

.editor-reset h2,
.cke_reset h2 {
    font-size: 19px;
    margin: 10px 0
}

.editor-reset h3,
.cke_reset h3 {
    margin: 13px 0;
    font-size: 15px;
    font-family: inherit;
    color: inherit
}

.editor-reset h4,
.cke_reset h4 {
    font-size: 13px;
    margin: 17px 0
}

.editor-reset img,
.cke_reset img {
    max-width: 100%;
    height: auto !important
}

.editor-reset strong,
.editor-reset b {
    font-weight: 900
}

.editor-reset p,
.editor-reset i,
.editor-reset b,
.editor-reset u,
.editor-reset strong{
    line-height: 1.6;
    letter-spacing: normal;
    word-wrap: break-word
}
